<!doctype html>  
<html ng-app="insta">
<head>
<title>insta search</title>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<!--<link rel="stylesheet" href="css/bootstrap-theme.min.css" />-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="js/main.js"></script>

</head>
<body ng-controller="AppController">
	<div class="navbar navbar-default">
		<div class="container">
			<form class="navbar-form navbar-left search-field"> 
				<div class="form-group">
					<input class="form-control" type="text" ng-model="searchKeyword" /> 		
				</div>
				<div class="form-group">
					<button class="btn btn-success" type="submit" ng-click="search()">Find</button>
					<span class="search-message">photos tagged by {{searchKeyword}}</span> 					
				</div>
			</form>			
		</div>
	</div>
	
	<div class="container">
		<p class="lead">Instagram Search</p>	
		<ul class="list-unstyled list-inline">
			<li ng-repeat="photo in photos | filter: searchKeyword"> 
				<img ng-src="{{photo.images.thumbnail.url}}" class="img-circle" /> 
				<span class="title" ng-repeat="tag in photos">{{photo.tags[$index]}} </span>  
			</li>
		</ul>
	</div>



</body>
</html>